extends layout

block content
  .container
    .row 
      .col-sm-12
        div.card
          div(align="center")
            h1.card-header Welcome to SNP Songs
            div.card-block(style="padding: 10px;")
              p Connect to your 23andMe data and this app will create a song that is unique to you. It will bring in your genotype for a couple of genes that are important to your neurotransmitter levels: COMT and DRD2. Enjoy this song of your neurotransmitters!
              p Privacy: Your data is secured through 23andMe and will not be stored on this website.
              p To get started click on the link below to authorize SNP Songs to access your 23andMe data.
              div(align="center")
                a.button(href="https://api.23andme.com/authorize/?redirect_uri=#{redirect_uri}&response_type=code&client_id=#{client_id}&scope=#{scope}")
                    button.btn.btn-primary 
                      img.logo(src="/images/23andMe-logo.png", width="30px", height="30px")
                      p Allow 23andMe
