doctype html
html
  head
    title GeneMidi
    script(src='https://tonejs.github.io/build/Tone.min.js')
    script(src='/scripts/Waveform.js')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    #content
      block content
