doctype html
html
  head
    title GeneMidi
    script(src='https://tonejs.github.io/build/Tone.min.js')
    script(src='https://tonejs.github.io/Logo/build/Waveform.js')
  body
    #content
      block content
