extends layout

block content
  .container
    .row
      .col-sm-12
        div(align="center")
          h1 Your results
          label(for="genes") Song string:&nbsp;
          input.form-control(id="genes" type="text" value="#{songString}")
          br
          button.btn.btn-primary.fa.fa-play(id="play" type="button")
          button.btn.btn-secondary.fa.fa-pause(id="pause" type="button")
  
  script(type="text/javascript" src="/scripts/SongGenerator.js")
  
