extends layout

block content
  h1 Your results
  button(id="chord") Click Me
  input(id="genes" value="#{songString}")
  each g, i in genotypes
    p <b>#{names[g.id]} #{JSON.stringify(g)}</b>
  
  script(type="text/javascript" src="/scripts/SongGenerator.js")
  
