extends layout

block content
  .container(style="margin: 0px; padding: 0px;")
    .row
      .col-sm-12
        div.card
          div(align="center" style="padding-bottom: 15px; margin-bottom: 10px;")
            h1.card-header Your SNP Song
            div.card-block(style="padding: 0px;")
              input.form-control(id="genes" type="text" value="#{songString}")
              p Click the play button to listen to your unique song!
              button.btn.btn-primary.fa.fa-play(id="play" type="button" style="width:50px; height:50px; margin-right:10px")
              button.btn.btn-secondary.fa.fa-pause(id="pause" type="button" style="width:50px; height:50px;")
    .row(style="height: 30px;")
    .row
      .col-sm-12
        div.card
          div(align="center")
            h4.card-header Current Note
            div.card-block
              div.card-block
                #songNumber 
                  span 3
  script(type="text/javascript" src="/scripts/SongGenerator.js")
  
